.divs1{
    background-color: rgb(0, 0, 0);
    height: 30px;

}

body{
    background-color: #FFF5EE;

}

.divs2{
    background-color: rgb(87, 87, 87);
    height: 30px;

}

.divs3{
    background-color: #20B2AA;
    height: 30px;

}

.divs4{
    background-color: white;
    height: 30px;
}