
.containerHeader{
background-color: black;
width: auto;
height: 600px;
box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.imagenDiv{
    background-size: cover;
}
.textoHeader{
    color: white;
    padding-top: 270px;
    text-decoration: underline overline;
    font-family: 'Permanent Marker', cursive;
    font-size: 30px;
}



body{
    background-color: white;

}